pipeline/DataverseToParquetLeads1.json
{
	"name": "DataverseToParquetLeads1",
	"properties": {
		"activities": [
			{
				"name": "Delete Parket Leads",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "StartProcess",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParquetLeads",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.parquet",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "StartProcess",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartProcess",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Actividad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set KO",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					},
					{
						"activity": "Set OK",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Actividad",
					"value": "Delete Paquet Leads"
				}
			},
			{
				"name": "LogDelete",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set Actividad",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "RecLog",
						"type": "DataFlowReference",
						"parameters": {
							"Fase": {
								"value": "'@{'RAW'}'",
								"type": "Expression"
							},
							"Pipeline": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							},
							"StarProcess": {
								"value": "'@{formatDateTime(variables('StartProcess'),'yyyy-MM-dd HH:mm:ss')}'",
								"type": "Expression"
							},
							"EndProcess": {
								"value": "'@{formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')}'",
								"type": "Expression"
							},
							"Estatus": {
								"value": "'@{variables('Estatus')}'",
								"type": "Expression"
							},
							"Mensaje": {
								"value": "'@{variables('Actividad')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set OK",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete Parket Leads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Estatus",
					"value": "OK"
				}
			},
			{
				"name": "Set KO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete Parket Leads",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Estatus",
					"value": "OK"
				}
			},
			{
				"name": "StartProcess_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LogDelete",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartProcess",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "StartProcess_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": "<fetch>\n<entity name='lead'>\n<attribute name='cra83_territoryid'/>\n<attribute name='statuscode'/>\n<attribute name='leadqualitycode'/>\n<attribute name='numberofemployees'/>\n<attribute name='industrycode'/>\n<attribute name='revenue'/>\n<attribute name='modifiedon'/>\n<attribute name='createdon'/>\n<attribute name='cra83_productoid'/>\n<attribute name='leadsourcecode'/>\n<attribute name='ownerid'/>\n<attribute name='leadid'/>\n<attribute name='createdon'/>\n<!--<filter type='and'>-->\n<!--<condition attribute='modifiedon' operator='yesterday'/> -->\n<!--</filter>-->\n</entity>\n</fetch>"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cra83_productoid",
									"type": "Guid"
								},
								"sink": {
									"name": "cra83_productoid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "Decimal"
								},
								"sink": {
									"name": "revenue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "leadid",
									"type": "Guid"
								},
								"sink": {
									"name": "leadid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "cra83_territoryid",
									"type": "Guid"
								},
								"sink": {
									"name": "cra83_territoryid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "industrycode",
									"type": "Int32"
								},
								"sink": {
									"name": "industrycode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "numberofemployees",
									"type": "Int32"
								},
								"sink": {
									"name": "numberofemployees",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "leadsourcecode",
									"type": "Int32"
								},
								"sink": {
									"name": "leadsourcecode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ownerid",
									"type": "Guid"
								},
								"sink": {
									"name": "ownerid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "leadqualitycode",
									"type": "Int32"
								},
								"sink": {
									"name": "leadqualitycode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "transactioncurrencyid",
									"type": "Guid"
								},
								"sink": {
									"name": "transactioncurrencyid",
									"type": "Guid"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DataverseLeads",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetLeads",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set OK_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Estatus",
					"value": "OK"
				}
			},
			{
				"name": "Set KO_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Estatus",
					"value": "OK"
				}
			},
			{
				"name": "Set Actividad_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set OK_copy1",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					},
					{
						"activity": "Set KO_copy1",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Actividad",
					"value": "Copy Parquet Leads"
				}
			},
			{
				"name": "LogCopyParquetAccounts",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set Actividad_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "RecLog",
						"type": "DataFlowReference",
						"parameters": {
							"Fase": {
								"value": "'@{'RAW'}'",
								"type": "Expression"
							},
							"Pipeline": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							},
							"StarProcess": {
								"value": "'@{formatDateTime(variables('StartProcess'),'yyyy-MM-dd HH:mm:ss')}'",
								"type": "Expression"
							},
							"EndProcess": {
								"value": "'@{formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')}'",
								"type": "Expression"
							},
							"Estatus": {
								"value": "'@{variables('Estatus')}'",
								"type": "Expression"
							},
							"Mensaje": {
								"value": "'@{variables('Actividad')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"StartProcess": {
				"type": "String"
			},
			"Fase": {
				"type": "String",
				"defaultValue": "RAW"
			},
			"Actividad": {
				"type": "String"
			},
			"Estatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "0 DataverseToParquet"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-31T11:03:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}